---
http_interactions:
- request:
    method: post
    uri: https://api.telegram.org/bot448967013:123/getMe
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"ok":true,"result":{"id":448967013,"is_bot":true,"first_name":"MTG
        Helper","username":"mtghelper_bot"}}'
  recorded_at: Fri, 09 Feb 2018 23:31:37 GMT
recorded_with: VCR 3.0.3
